rsource "kconfig.fourcc"

config GMF_VIDEO_CODEC_INIT_ENCODER
    bool "Initialize Video Encoder"
    default n
    help
        Initialize the video encoder element.

choice
    depends on GMF_VIDEO_CODEC_INIT_ENCODER
    prompt "Video Encoder Configuration"
    default GMF_VIDEO_ENC_CODEC_TYPE_AUTO
    help
        Select the video encoder codec type.
        Please select the video encoder types to register in the "Video Encoder Configuration" menu under "Video Codec Configuration"

    config GMF_VIDEO_ENC_CODEC_TYPE_AUTO
        bool "Auto"
        help
            Auto select the video encoder codec type.

    config GMF_VIDEO_ENC_CODEC_TYPE_SW_H264
        bool "Software H264"
        depends on VIDEO_ENCODER_SW_H264_SUPPORT
        help
            Software H264 video encoder.

    config GMF_VIDEO_ENC_CODEC_TYPE_HW_H264
        bool "Hardware H264"
        depends on VIDEO_ENCODER_HW_H264_SUPPORT
        help
            Hardware H264 video encoder.

    config GMF_VIDEO_ENC_CODEC_TYPE_SW_MJPEG
        bool "Software MJPEG"
        depends on VIDEO_ENCODER_SW_MJPEG_SUPPORT
        help
            Software MJPEG video encoder.

    config GMF_VIDEO_ENC_CODEC_TYPE_HW_MJPEG
        bool "Hardware MJPEG"
        depends on VIDEO_ENCODER_HW_MJPEG_SUPPORT
        help
            Hardware MJPEG video encoder.
endchoice

config GMF_VIDEO_ENC_CODEC_TYPE
    hex
    default 0x00000000 if GMF_VIDEO_ENC_CODEC_TYPE_AUTO
    default FOURCC_H264 if GMF_VIDEO_ENC_CODEC_TYPE_SW_H264
    default FOURCC_H264 if GMF_VIDEO_ENC_CODEC_TYPE_HW_H264
    default FOURCC_MJPG if GMF_VIDEO_ENC_CODEC_TYPE_SW_MJPEG
    default FOURCC_MJPG if GMF_VIDEO_ENC_CODEC_TYPE_HW_MJPEG
